<h2 i18n="Titre formulaire client|Création ou modification d'un nouveau client@@clientFormTitle">Nouveau client</h2>
<form (submit)="enregistrer()" #clientForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="Nom du client" name="nom"
           i18n-placeholder="Champ nom|Nom du nouveau client@@clientFormInputNom"
           [(ngModel)]="client.nom"
           required
    />
    <mat-error i18n="Erreur champ nom|Erreur champ obligatoire@@clientFormInputNomErreur">
      Le nom est obligatoire.
    </mat-error>
    <!-- <mat-error [hidden]="champNom.valid"
               i18n="Erreur champ nom|Erreur champ obligatoire@@clientFormInputNomErreur"
      >Le nom est obligatoire.</mat-error> -->
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom du client" name="prenom"
           i18n-placeholder="Champ prénom|Prénom du nouveau client@@clientFormInputPrenom"
           [(ngModel)]="client.prenom" #champPrenom="ngModel"
           pattern="[a-zA-Z]{3,}"
    />
    <mat-error [hidden]="champPrenom.valid"
               i18n="Erreur champ prenom|Erreur champ longueur minimum 3 caractères@@clientFormInputPrenomErreur"
      >Le prénom doit contenir 3 lettres au minimum.</mat-error>
  </mat-form-field>
  <!---->
  <!--<label for="champ-nom">Nom</label>-->
  <!--<input id="champ-nom" #champNom="ngModel" name="nom" required [(ngModel)]="client.nom"-->
    <!--[class]="champNom.invalid?'erreur':''"-->
  <!--/>-->

  <!--<br/>-->
  <!--<label for="champ-prenom" >Prénom</label>-->
  <!--<input id="champ-prenom" #champPrenom="ngModel" name="prenom" [(ngModel)]="client.prenom" pattern="[a-zA-Z]{3,}" />-->
  <!--<span [hidden]="champPrenom.valid">Le prénom doit contenir 3 lettres au minimum</span>-->
  <!--<br/>-->
  <button mat-button color="primary"
          type="submit" [disabled]="clientForm.invalid"
          i18n="Bouton enregistrer|Enregistrer le noouveau client@@clientFormBoutonEnregistrer"
    >Enregistrer</button>
</form>



<!--
<form (submit)="enregistrer()">
  <mat-form-field>
    <input matInput placeholder="Saisir votre nom" required [formControl]="nommd"><!- [formControl]="nommd"  ->
    <mat-error [hidden]="nommd.invalid" >Le nom est obligatoire.</mat-error><!- *ngIf="nommd.invalid" ->
  </mat-form-field>
  <button mat-button type="submit" >Enregistrer</button>
</form>
<form (submit)="enregistrer()" #formClient="ngForm">
  <label for="nom">Nom</label>
  <input id="nom" name="nom"  #inputNom="ngModel" required [(ngModel)]="client.nom" />
  <span [hidden]="!(inputNom.touched && inputNom.invalid)" >Le nom est obligatoire.</span>
  <br/>
  <label for="prenom">Prénom</label>
  <input id="prenom" name="prenom" #inputPrenom="ngModel" [(ngModel)]="client.prenom" />
  <br/>
  <button mat-button type="submit" [disabled]="formClient.invalid">Enregistrer</button>
</form>
<pre>{{ client | json }}</pre>
-->
