mat-toolbar {
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
mat-toolbar > * {
   margin-left: 8px;
   margin-right: 4px;
}

h1 {
  margin-right: 1em;
}
p {
  text-align: center;
  font-weight: bold;
}
.fill-flex {
  flex: 3 1 0;
  /*background-color: yellow;*/
  height: 20px;
}
h1 + .fill-flex {
  flex: 1 1 0;
}
