<header>
  <mat-toolbar color="primary">
    <h1>Ma Banque</h1>
    <a routerLink="/clients" mat-button>Clients</a>
    <a routerLink="/client/form" mat-button>Nouveau</a>
    <span class="fill-flex"></span>
    <span [hidden]="username">
      <button mat-icon-button (click)="connexion()">
        <mat-icon>fingerprint</mat-icon>
      </button>
    </span>
    <span [hidden]="!username">
      {{username}}
      <button mat-icon-button (click)="deconnexion()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </span>
    <!--    <span class="fill-flex"></span>
        <span (click)="deconnexion()">{{username}}</span>
        <button mat-icon-button (click)="connexion()" [hidden]="username">
          <mat-icon>fingerprint</mat-icon>
        </button> -->
  </mat-toolbar>
  <app-authentification [identifiant]="username"
                        [hidden]="!showAuthForm" (auth)="authentification($event)"
  ></app-authentification>
<!--
  <app-authentification (changement)="recupererIdentifiant($event)" ></app-authentification>
  <app-authentification identifiant="toto" ></app-authentification>
  <app-authentification [(identifiant)]="utilisateur" ></app-authentification>
  <app-authentification [identifiant]="username"
                        [hidden]="!showAuthForm" (auth)="authentification($event)"
  ></app-authentification>
  <p>{{utilisateur}}</p>
  <input [(ngModel)]="utilisateur" />-->
</header>
<main class="mat-typography">
  <router-outlet></router-outlet>

  <p>{{ajd | date:'d MMMM yyyy'}}</p>
</main>
